.App_Container {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
  /* border: 2px solid black; */
  height: 100vh;
}

.Card_Container {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
  background-color: black;
  border: 12px solid black;
  height: 80vh;
  width: 25vw;
}

.Card_Top_Inner_Box {
  display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
  
  background-color: black;
  /* border: 2px solid blue; */
  height: 40vh;
  width: 25vw;
}

.Card_Top_Left {
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
  
  background-color: black;
  border: 2px solid yellow;
  border-top-left-radius: 40px;
  width: 14vw;
}

.Card_Top_Jedi {
  display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
  
  border: 2px solid yellow;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 85px;
  height: 10vh
}

.Card_Top_Jedi_Circle {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  
  border: 2px solid yellow;
  width: 68px;
  height: 65px;
  border-radius: 50%;
  margin-left: -1%;
}

.Jedi_Crest {
  height: 50px
}

.Number_Text {
  font-size: 40px;
  color: white;
  margin-left: 10%
}

.Card_Top_Right {
  display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
  
  /* background-color: lightblue; */
  /* border: 2px solid blue; */

  border: 2px solid yellow;
  width: 20vw;
}

.Card_Image {
  height: 279px;
  width: 219.5px;
  margin-left: .5%
}

.Card_Bottom_Inner_Box {
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
  
  background-color: black;
  border: 2px solid yellow;
  border-bottom-right-radius: 25px;
  height: 40vh;
  width: 24.7vw;
}

.Card_Bottom_Top {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  
  /* border: 2px solid white; */
  height: 10vh;
}

.Line_Design_1 {
  border: 2px solid yellow;
  width: 9vw
}

.Stats_Text {
  color: yellow;
  font-size: 30px;
  margin-left: 2%;
  margin-right: 2%
}

.Line_Design_2 {
  border: 2px solid yellow;
  width: 9vw
}



.Card_Bottom_Bottom {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  
  /* border: 2px solid white; */
  height: 26vh;
  border-bottom-right-radius: 21px;
}

.Detail_Text {
  color: white;
  font-size: 23px;
  margin-left: 2%;
  line-height: 1px
}

.Name_Text {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-top: 4%;
}

.Occupation_Container {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  
  background-color: yellow;
  /* border: 2px solid white; */
  height: 5vh;
}

.Occupation_Text {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.StarWars_Container {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.StarWars_Logo {
  height: 90px;
  width: 90px;
}